@page
@model T4_PR1.Pages.AddSimulationModel
@{
	ViewData["Title"] = "Afegir simulació";
}
<h1>@ViewData["Title"]</h1>
<br />
<form method="post">
    <div class="form-group">
        <label asp-for="EnergySelected">Selecciona una opció:</label>
        <select asp-for="EnergySelected" asp-items="Model.Options" class="form-control">
            <option value="">-- Selecciona --</option> 
        </select>
    </div>


  <br />

 <button type="submit" class="btn btn-primary">Afegir</button>
</form>
